* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif;
}

header {
    background-color: #012944;
    height: 100%;
}

.contenedor-logo {
    text-align: center;
}

.logoPrincipal {
    padding-top: 10px;
    padding-bottom: 4px;
}

.principal {
    background-image: url("../img/fondo.jpg");
    background-position-x: center;
    background-size: cover;
    width: auto;
    height: auto;
}

.dos {
    background-color: #00b89c;
}

div .uno .column h1 {
    font-size: 30px;
    text-align: -moz-center;
    color: white;
}

.txt-titular {
    color: white;
    text-align: inherit;
}

.txt-titular2 {
    color: white;
    font-size: 20px;
}

.txt-persuasivo {
    text-align: center;
    font-size: 23px;
    font-weight: bold;
}

.subtexto {
    width: 100%;
}

.bulletpoint {
    width: 50%;
    color: white;
    font-size: 19px;
    list-style: circle;
}

.button.is-link {
    background-color: #012944;
    border-color: transparent;
    color: white;
}

.form_content {
    background: #C4C4C4;
    box-shadow: 0 4px 28px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 30px;
    width: 65%;
    box-sizing: border-box;
}

.form_content__button {
    border-radius: 4px;
    border: none;
    background: #012944;
    padding: 10px;
    color: white;
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
}

.form_content__button:hover {
    cursor: pointer;
}

.form_main {
    display: flex;
    justify-content: center;
}

.quienes-somos {
    height: auto;
}

.pos-textos {
    text-align: center;
    font-size: 2.5rem;
}

.titulo::after {
    content: "";
    display: block;
    height: 2px;
    width: 81px;
    background: #FFA200;
    margin: 0 auto;
}

.cont-imgSomos {
    width: 100%;
    text-align: end;
}

#imgSomos {
    width: 274px;
    border-radius: 118px;
    box-shadow: 5px 4px 62px -29px black;
}

#estiloParrafo {
    text-align: center;
    font-size: 21px;
}

.servicios {
    background-color: rgba(1, 41, 68, 0.50);
    height: auto;
}

.card {
    width: 98% !important;
    border-radius: 4px;
}

.owl-nav {
    text-align: center;
    font-size: 61px;
    height: 0;
}

.owl-prev {
    padding-right: 34px !important;
}

.butCot {
    width: 100%;
    border-radius: 4px;
    background-color: #8094a1;
    height: 40px;
    font-size: 19px;
    border-color: #8094a1;
    color: white;
}

.butCot:hover {
    background-color: #012944;
    color: white;
    border-color: transparent;
}

.contact {
    height: auto;
    background-color: #012944;
}

.btncontac {
    background-color: #012944 !important;
    border-color: white !important;
}

.btncontac:hover {
    background-color: white !important;
    color: #012944 !important;
}

.pos-cont {
    text-align: center;
}

#imaCont {
    width: 96px;
}

#txtCon {
    font-size: 20px;
    color: white;
}

.nuestroEquipo {
    height: auto;
}

#imgEquipo {
    width: 274px;
    border-radius: 118px;
    box-shadow: 5px 4px 62px -29px black;
}

#estiloParra {
    text-align: center;
    font-size: 21px;
}

.cont-imgNosotros {
    width: 100%;
    text-align: center;
}

.cotizar {
    background-image: url("../img/COTIZACION-2.png");
    background-position-x: center;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: round;
}

.asesoramos {
    text-align: center;
    color: white;
    font-size: 21px;
}

.btn-cotizar {
    width: auto;
    border-radius: 5px !important;
    background-color: #C4C4C4 !important;
    height: 49px !important;
    font-size: 19px !important;
}

.testimonios {
    background-color: #7f93a1;
}

.test {
    display: flex;
}

.ubiTest {
    text-align: -moz-center;
    width: 74%;
}

.posiComen {
    display: flex;
    justify-content: center;
}

footer {
    background-color: #012944;
}

.direccion {
    text-align: center;
    font-size: 21px;
    color: white;
}

.textoDir {
    font-size: 15px;
}

.redes {
    width: 100%;
    display: flex !important;
    justify-content: center;
}

.tam {
    width: auto !important;
}

@media only screen and (max-width: 768px) {
    .form_content {
        width: 86%;
    }
    .principal {
        background-image: url("../img/responsive.png");
    }
    .cont-imgSomos {
        text-align: center;
    }
    .card {
        width: 95% !important;
    }
    .bulletpoint {
        width: 69%;
    }
    .sizeTerminos {
        font-size: 0.9rem;
    }
}